<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover"
    />
    <!-- 开启顶部安全区适配 -->
    <van-nav-bar safe-area-inset-top />
    <!-- 开启底部安全区适配 -->
    <van-number-keyboard safe-area-inset-bottom />
    <title id="seo-title">易校园思政云 - 高校网络思政云平台</title>
    <meta
      id="seo-des"
      name="description"
      content="易校园思政云是为高校打造一个符合易班共建标准、独立安全可靠、功能强大、覆盖面广、体验极致的高校网络思政云平台。"
    />
    <meta
      id="seo-key"
      name="keywords"
      content="思政云,sizhengyun,网络思政,高校,思想政治,高校思政,高校网络思政,云平台,易校园思政云,思政云官网,高校网络思政平台,思政,高校思政建设,高校网络思政建设,校园思政,校园网络思政,思想政治建设,思政共建,高校网络思政共建"
    />
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
